BasedOnStyle: WebKit
Standard: Cpp11

AlignConsecutiveAssignments: true
IndentCaseLabels: true
PointerAlignment: Left
SortIncludes: true
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BraceWrapping:
  AfterEnum: false
  SplitEmptyFunction: false
AllowShortEnumsOnASingleLine: false